<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{$title}</title>
    <link href="/static/lib/layui-v2.6.3/css/layui.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{$favicon}">
    <style>
        .layui-nav .layui-nav-item a {
            font-size: 15px;
            color: rgb(255, 255, 255, 0.9);
            font-weight: bold;
        }
    </style>
</head>

<body style="background-color: rgb(17, 8, 37);">
    <div class="layui-container">
        <div class="layui-row">
            <ul class="layui-nav" style="background-color: rgb(17, 8, 37);">
                <div class="layui-col-sm5">
                    <li class="layui-nav-item">
                        <a href="/">
                            <img src="/static/images/logo.png" / width=25px>&nbsp;&nbsp;ZHIYUN
                        </a>
                    </li>
                </div>
                <li class="layui-nav-item"><a href="/index">首页</a></li>
                <li class="layui-nav-item"><a href="/index/info">介绍</a></li>
            </ul>
            <ul class="layui-nav layui-layout-right" style="background-color: rgb(17, 8, 37);;">
                <li class="layui-nav-item">
                    <a href="/index/login">登录</a>
                </li>
                <li class="layui-nav-item">
                    <a href="/index/register">
                        <button type="button" class="layui-btn" style="background-color: rgb(103, 69, 223);">注册</button>
                    </a>
                <!--  {$key1|raw}  -->
                </li>
                <li class="layui-nav-item">
                    <img src="/static/images/lang-zh.png" width=25px>&nbsp;&nbsp;CNY
                </li>
            </ul>
        </div>

        <div class="layui-row"
            style="margin-top: 60px;  display: flex;color: rgb(255, 255, 255, 0.9);justify-content: center;align-items: center;text-align: center;min-height:480px;padding: 10px">
            <div class="layui-col-xs6">
                <h1 style="color: rgb(255, 195, 84);font-weight: bold;font-size: 35px;">{$arr[0]}</h1>
                <h5>{$arr[1]}</h5>
                            <!--  {$key2|raw}  -->
            </div>
            <div class="layui-col-xs6">
                <img src="/static/images/t5.png" />
            </div>
        </div>
    </div>
    <div class="layui-row" style="margin-top: 60px;color: rgb(255, 255, 255, 0.9);text-align: center;">
        {$arr[2]}<br>
        <br><br><br><br>
    </div>
    <script src="/static/lib/layui-v2.6.3/layui.js"></script>
</body>

</html>