<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
</head>

<body>
    <script type="text/html" id="currentTableBar">
        <a class="layui-btn layui-btn-normal layui-btn-xs data-count-edit" lay-event="edit">详情</a>
    </script>
    <div class="layuimini-container">
        <div class="layuimini-main ">

            <fieldset id="elementId" class="table-search-fieldset layui-hide">
                <legend>搜索信息</legend>
                <div style="margin: 10px 10px 10px 10px">
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">日期</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="date" id="ID-laydate" autocomplete="off"
                                        class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                                <button type="reset" class="layui-btn layui-btn-primary" id="reset-btn">
                                    <i class="layui-icon"></i> 重 置
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>

            <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 刷新 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete">dns配置需要在:系统信息配置->dns黑白名单配置'修改后生效 </button>
            </div>
            </script>

            <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        </div>
    </div>
    <script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script>



        layui.use(['form', 'table', 'laydate'], function () {
            var $ = layui.jquery,
                form = layui.form,
                laydate = layui.laydate,
                table = layui.table;

            laydate.render({
                elem: '#ID-laydate'
            });

            table.render({
                elem: '#currentTableId',
                url: '/xadmin/dnslog',
                contentType: 'application/json',
                method: 'post',
                request: {
                    pageName: 'page', // 页码的参数名称，默认：page
                    limitName: 'limit' // 每页数据条数的参数名，默认：limit
                },

                toolbar: '#toolbarDemo',
                defaultToolbar: [{
                    title: '搜索',
                    layEvent: 'LAYTABLE_TIPS',
                    icon: 'layui-icon-search'
                }, 'filter', 'exports', 'print'],
                cols: [[
                    { type: "checkbox", width: 50 },
                    { field: 'id', width: 120, title: 'ID' },
                    { field: 'date', minWidth: 160, title: 'dnslog时间' },
                    { field: 'domains', minWidth: 200, title: '相关域名',style: 'color: red;' },
                    { field: 'ip', width: 150, title: '域名解析ip' },
                    { field: 'ipaddr', width: 200, title: 'IP归属' },
                    { title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center" }
                ]],
                limits: [10, 25, 50, 100],
                limit: 10,
                page: true,
                skin: 'line'
            });

            // 监听搜索操作
            form.on('submit(data-search-btn)', function (data) {
                var result = JSON.stringify(data.field);
                //  执行搜索重载
                table.reload('currentTableId', {
                    url: '/xadmin/dnslog',
                    method: 'post',
                    page: {
                        curr: 1
                    }
                    , where: {
                        searchParams: result
                    }, done: function (res, curr, count) {
                        if (res.code === 0) {
                            layer.msg("搜索成功，成功搜索到" + res.count + "条数据");
                        } else {
                            layer.msg('未搜索到数据或发生错误');
                        }
                    }
                });
                return false;
            });

            /**
             * toolbar监听事件
             */
            table.on('toolbar(currentTableFilter)', function (obj) {
                switch (obj.event) {
                    case 'LAYTABLE_TIPS':
                        layui.$('#elementId').toggleClass('layui-hide');
                        break;
                    case 'delete':
                        break
                    case 'add':
                        table.reload('currentTableId', {
                            url: '/xadmin/dnslog',
                            where: {}
                        });
                        break
                }
            });

            table.on('tool(currentTableFilter)', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    var contentHtml = '';
                    var base64DecodedRequests = atob(data.payload);
                    var textDecoder = new TextDecoder('utf-8');
                    var RequestsHtml = layui.util.escape(textDecoder.decode(new Uint8Array([...base64DecodedRequests].map(c => c.charCodeAt(0)))));
                    contentHtml += '发现有尝试dnslog探测报文: <br>抓取到的域名为<span style="color: red;">' + data.domains + '</span><br>';
                    contentHtml += '<h2>请求报文: </h2><pre class="layui-code">' + RequestsHtml + '</pre>';


                    var index = layer.open({
                        title: '报文分析',
                        type: 0,
                        shade: 0.2,
                        maxmin: true,
                        shadeClose: true,
                        area: ['70%', '70%'],
                        content: contentHtml,
                    });
                    $(window).on("resize", function () {
                        layer.full(index);
                    });
                    return false;
                }
            });

        });
    </script>

</body>

</html>