<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>

<body>
    <div class="layui-form layuimini-form">
        <div class="layui-form-item">
            <label class="layui-form-label required">ID编号</label>
            <div class="layui-input-block">
                <input type="text" name="key" lay-verify="required" value="{$update.id}"
                    class="layui-input layui-disabled" disabled>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label required">时间为: </label>
            <div class="layui-input-block">
                <input type="text" name="date" lay-verify="required" value="{$update.date}"
                    class="layui-input layui-disabled" disabled>
                <tip>请核查修改字段对应id,时间是否一致。</tip>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">恶意分类</label>
            <div class="layui-input-inline">
                <select name="waf" lay-verify="required">
                    <option value="">{$update.waf}</option>
                    <option value="误报">误报</option>
                    <option value="SQL注入">SQL注入</option>
                    <option value="命令执行">命令执行</option>
                    <option value="目录遍历">目录遍历</option>
                    <option value="XSS攻击">XSS攻击</option>
                    <option value="流协议攻击">流协议攻击</option>
                    <option value="扫描器探测">扫描器探测</option>
                    <option value="敏感文件获取">敏感文件获取</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认修改</button>
            </div>
        </div>
    </div>
    </div>
    <script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form,
                layer = layui.layer,
                $ = layui.$;

            //监听提交
            form.on('submit(saveBtn)', function (data) {
                data = data.field;
                $.ajax({
                    url: "/xadmin/logteupdate",
                    type: "POST",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: 'json',
                    success: function (data) {
                        layer.msg(data.msg);
                    }, error: function (data) {
                        layer.msg('服务器错误');
                    }
                })
                // 关掉窗口
                // var iframeIndex = parent.layer.getFrameIndex(window.name);
                // parent.layer.close(iframeIndex);

                return false;
            });

        });
    </script>
</body>

</html>