<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
</head>

<body>
        <script type="text/html" id="ID-table-demo-templet-switch">
            <input type="checkbox" name="status" lay-skin="switch" {{d.status===1 ? "checked" : "" }} disabled>
        </script>

    <div class="layuimini-container">
        <div class="layuimini-main ">

            <fieldset id="elementId" class="table-search-fieldset layui-hide">
                <legend>搜索信息</legend>
                <div style="margin: 10px 10px 10px 10px">
                    <form class="layui-form layui-form-pane" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">登录ip</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="loginip" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">登录时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="logintime" id="ID-laydate" autocomplete="off"
                                        class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <button type="submit" class="layui-btn layui-btn-primary" lay-submit
                                    lay-filter="data-search-btn"><i class="layui-icon"></i> 搜 索</button>
                                <button type="reset" class="layui-btn layui-btn-primary" id="reset-btn">
                                    <i class="layui-icon"></i> 重 置
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>

            <script type="text/html" id="toolbarDemo">
            <div class="layui-btn-container">
                <button class="layui-btn layui-btn-normal layui-btn-sm data-add-btn" lay-event="add"> 刷新 </button>
                <button class="layui-btn layui-btn-sm layui-btn-danger data-delete-btn" lay-event="delete"> 查看详情 </button>
            </div>
            </script>

            <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>

        </div>
    </div>
    <script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
    <script>



        layui.use(['form', 'table', 'laydate'], function () {
            var $ = layui.jquery,
                form = layui.form,
                laydate = layui.laydate,
                table = layui.table;

            laydate.render({
                elem: '#ID-laydate'
            });

            table.render({
                elem: '#currentTableId',
                url: '/xadmin/potnloginlog',
                contentType: 'application/json',
                method: 'post',
                request: {
                    pageName: 'page', // 页码的参数名称，默认：page
                    limitName: 'limit' // 每页数据条数的参数名，默认：limit
                },
                even: true,
                toolbar: '#toolbarDemo',
                defaultToolbar: [{
                    title: '搜索',
                    layEvent: 'LAYTABLE_TIPS',
                    icon: 'layui-icon-search'
                }, 'filter', 'exports', 'print'],
                cols: [[
                    { type: "checkbox", width: 50 },
                    { field: 'id', width: 80, title: 'ID' },
                    { field: 'logintime', width: 160, title: '登录时间' },
                    { field: 'username', width: 80, title: '用户名', templet: function (d) { return layui.util.escape(d.username); } },
                    { field: 'password', width: 120, title: '密码' , templet: function (d) { return layui.util.escape(d.password); } },
                    { field: 'loginip', width: 100, title: '登录ip' },
                    { field: 'loginipaddr', width: 100, title: 'ip归属' },
                    { field: 'status', width: 80, title: '状态', templet: '#ID-table-demo-templet-switch' },
                    { field: 'useragent', minWidth: 450, title: 'UA头', templet: function (d) { return layui.util.escape(d.useragent); }  },
                    // { title: '操作', minWidth: 150, toolbar: '#currentTableBar', align: "center" }
                ]],
                limits: [10, 25, 50, 100],
                limit: 10,
                page: true,
                skin: 'line'
            });

            // 监听搜索操作
            form.on('submit(data-search-btn)', function (data) {
                var result = JSON.stringify(data.field);
                //  执行搜索重载
                table.reload('currentTableId', {
                    url: '/xadmin/potnloginlog',
                    method: 'post',
                    page: {
                        curr: 1
                    }
                    , where: {
                        searchParams: result
                    }, done: function (res, curr, count) {
                        if (res.code === 0) {
                            layer.msg("搜索成功，成功搜索到" + res.count + "条数据");
                        } else {
                            layer.msg('未搜索到数据或发生错误');
                        }
                    }
                });
                return false;
            });

            /**
             * toolbar监听事件
             */
            table.on('toolbar(currentTableFilter)', function (obj) {
                switch (obj.event) {
                    case 'LAYTABLE_TIPS':
                        layui.$('#elementId').toggleClass('layui-hide');
                        break;
                    case 'delete':
                        var checkStatus = table.checkStatus('currentTableId')
                            , data = checkStatus.data;
                        if (data.length !== 1) {
                            return layer.msg('请选择一行');
                        } else {

                            var content = '';
                            for (var key in data[0]) {
                                content += key + ': ' + data[0][key] + '<br>';
                            }
                            layer.open({
                                title: '编辑',
                                type: 0,
                                area: ['60%', '60%'],
                                content: content
                            });
                        }


                        break
                    case 'add':
                        table.reload('currentTableId', {
                            url: '/xadmin/potnloginlog',
                            where: {}
                        });
                        break
                }
            });

        });
    </script>

</body>

</html>