<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/lib/layui-v2.6.3/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/css/public.css" media="all">
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
</head>
<body>
<div class="layui-form layuimini-form">
    <div class="layui-form-item">
        <label class="layui-form-label required">name</label>
        <div class="layui-input-block">
            <input type="text" name="username" lay-verify="required" lay-reqtext="指纹不能为空" placeholder="请输入指纹名" value="{$arr['name']}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label required">是否启用</label>
        <div class="layui-input-block">
            <input type="radio" name="status" value="1" title="是" {if $arr['status'] === "1"}checked{/if} >
            <input type="radio" name="status" value="0" title="否" {if $arr['status'] === "0"}checked{/if} >
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label ">title</label>
        <div class="layui-input-block">
            <input type="text" name="title" placeholder="请输入title" value="{$arr['title']}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">图标地址</label>
        <div class="layui-input-block">
            <input type="text" name="favicon" placeholder="请输入图标地址" value="{$arr['favicon']}" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">关键字备注信息-1</label>
        <div class="layui-input-block">
            <textarea name="remark1" class="layui-textarea" placeholder="请输入备注信息" >{$arr['key1']}</textarea>
        </div>
    </div>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">关键字备注信息-2</label>
        <div class="layui-input-block">
            <textarea name="remark2" class="layui-textarea" placeholder="请输入备注信息">{$arr['key2']}</textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn layui-btn-normal" lay-submit lay-filter="saveBtn">确认保存</button>
        </div>
    </div>
</div>
<script src="/static/lib/layui-v2.6.3/layui.js" charset="utf-8"></script>
<script>
    layui.use(['form'], function () {
        var form = layui.form,
            layer = layui.layer,
            $ = layui.$;

        //监听提交
        form.on('submit(saveBtn)', function (data) {
            data = data.field;
            $.ajax({
                url: "/xadmin/syskeyupdate",
                type: "POST",
                data: JSON.stringify(data),
                contentType: "application/json",
                dataType: 'json',
                success: function (data) {
                    layer.alert(data.msg, {
                    title: '提交结果'
                    }, function () {
                        layer.closeAll();
                        parent.layer.close(parent.layer.getFrameIndex(window.name));
                        parent.location.reload();
                    });
                }, error: function (data) {
                    layer.msg("未知错误,添加失败");
                }

            
            })

            return false;
        });

    });
</script>
</body>
</html>
